.main-login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-login {
  width: 60vh;
  height: 70vh;
  background-color: rgba(28, 28, 28, 0.264);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-logo {
  height: 12vh;
}

@media (max-width: 480px) {
  .main-login {
    background-color: #01afdd;
  }
  .section-login {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
  #div-img {
    height: 35%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .img-logo {
    content: url("../logo2.png");
    height: 60% !important;
    width: auto !important;
    display: block !important;
  }
  #container-form {
    height: 65%;
    width: 100%;
    background-color: white;
    border-radius: 25px 25px 0 0;
  }
  #container-form > h4 {
    padding-top: 1rem;
    font-size: 2.2rem;
  }
  #form-login {
    padding: 30px !important;
    margin-top: 2vh;
  }
  #form-login > div {
    margin-bottom: 4vh;
  }
  #form-login > div > label {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  #form-login > div > input {
    font-size: 1.5rem;
    border: solid 1px  rgba(28, 28, 28, 0.445);
    border-radius: 15px;
  }

  #btn-login {
    margin-top: 2rem;
    background: #01afdd;
    width: 70%;
    height: auto;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 15px;
    border: none;
  }
}
